{% extends 'base.html' %}

{% block content %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/search4'>
<table>
<p>请在下方输入你的商品信息:</p>
    <tr><td>商品名称:</td><td><input name='name' type='text' width='60'></td></tr>
    <tr><td>商品原价:</td><td><input name='price' type='number' min="0" max="20000"></td></tr>
    <tr><td>折扣价:</td><td><input name='discount' type='text' width="60"></td></tr>
    <tr><td>商品图片地址:</td><td><input name='img' type='text' width="60"></td></tr>
</table>
<p>请再次确认你的商品信息，如无误，请点击下方submit提交:</p>
<p><input value='Do it!' type='SUBMIT'></p>
</form>

{% endblock %}
